
# 공통
# development, production, test
NODE_ENV=
# redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# frontend
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WS_URL=

# =======
# backend
# =======
BACKEND_PORT=
FRONTEND_URL=
BACKEND_URL=
# TUNO_AI_API
TUNO_AI_API_BASE_URL=
TUNO_AI_API_SECRET_KEY=
# db
DATABASE_URL=
# jwt token
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
# resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=
EMAIL_CODE_EXPIRES_IN=
# firebase
FIREBASE_CREDENTIAL=
FIREBASE_STORAGE_BUCKET=
# google OAuth Client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# naver OAuth Client
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
# kakao OAuth Client
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
# LS Open Api
LS_APP_KEY=
LS_SECRET_KEY=

# ======
# WS
# ======
WS_SERVER_PORT=
# KisDevelopers
WS_TRADING_MODE=   # prod : 실전, vps: 모의
WS_PROD_APP_KEY=
WS_PROD_APP_SECRET=
WS_VPS_APP_KEY=
WS_VPS_APP_SECRET=

# ======
# TUNO-AI
# ======
# MariaDB (호스트에서 실행 중인 DB에 접근)
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
# KisDevelopers
TRADING_MODE=
CUSTTYPE=
PROD_APP_KEY=
PROD_APP_SECRET=
PROD_BASE_URL=
VPS_APP_KEY=
VPS_APP_SECRET=
VPS_BASE_URL=
# GCS (컨테이너 내부 경로)
GOOGLE_APPLICATION_CREDENTIALS=
GCS_BUCKET=
# Discord
DISCORD_WEBHOOK_URL=
# 백엔드와 통신
INTERNAL_API_SECRET=
